PORT = 8000
NODE_ENV ="development"
DATABASE_URL="postgres://default:GU3CWERqvfe4@ep-round-dust-a1hudhet-pooler.ap-southeast-1.aws.neon.tech/verceldb?sslmode=require"
REDIS_URL="redis://default:JeUyGRdYaLO9A9P0SzPdY7QS8H3mCxGY@redis-17790.c1.ap-southeast-1-1.ec2.redns.redis-cloud.com:17790"
MAIL_HOST = "smtp.gmail.com"
MAIL_USERNAME = "quannmct1922@gmail.com"
MAIL_PASSWORD = "uwyhkbmxcayiksul"
FCM_PROJECT_ID = dadn-hcmut
FCM_CLIENT_EMAIL = voquynhchantran120804@gmail.com
FCM_PRIVATE_KEY = AIzaSyCQVst6675ktXZPfjhqYTfZbZcC_BQ2cjw
